<!-- Добавляем .price-wrapper в футер -->
<div class="price-wrapper">
  <div class="price-container price-left">
    <p><span class="price-icon"></span> 1 ₿ = <span id="btc-price">loading...</span></p>
  </div>
  <div class="price-container price-right">
    <p><span class="price-icon"></span> 1 ⚡️ = <span id="sat-price">loading...</span></p>
  </div>
</div>

<!-- Подключаем скрипт после .price-wrapper -->
<script src="{{ "script.js" | relURL }}"></script>

<!-- Существующий футер -->
<footer class="footer">
  <p>© 2025 Bitrakein</p>
</footer>